@model IEnumerable<AutoRent.Models.CarReview>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}
<body>
    <div class="row">
    @foreach (var item in Model)
    {
        <div class="col-lg-4 col-md-6 mb-2">
            <div class="rent-item  mb-4">
                <img class="img-fluid mb-4" src="@Url.Content(item.CarBooking.Car.CarLogo)" alt="">
                <h4 class="text-uppercase mb-4">@item.CarBooking.applicationUser.UserName</h4>
                <div class="d-flex justify-content-center mb-4">
                    <div class="px-2">
                        <i class="fa fa-car text-primary mr-1"></i>
                        <span>@item.ReviewDate</span>
                    </div>
                    <div class="px-2 border-left border-right">
                        <i class="fa fa-cogs text-primary mr-1"></i>
                        <span>@item.Rate</span>
                    </div>
                </div>


                <a class="btn btn-primary px-3" asp-action="Details" asp-controller="CarReviews" asp-route-id="@item.ReviewId">View Review</a>
                <a class="btn btn-primary px-3" asp-action="Edit" asp-controller="CarReviews" asp-route-id="@item.ReviewId">Edit Review</a>

            </div>
        </div>
    }
        </div>
</body>
