@model AutoRent.Models.ApplicationRole

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>ApplicationRole</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdsNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdsNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PicsNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PicsNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoleImg)
        </dt>
        <dd class = "col-sm-10">
            <img src="@Url.Content(Model.RoleImg)" />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderNo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ApplicationRoleId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
