@model AutoRent.Models.Car

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}


<h1>Details</h1>

<div>
    <h4>Car</h4>
    <hr />
    <table>
        <tr>
            <td>
                <img src="@Url.Content(Model.CarLogo)" height="300" alt="">
            </td>
            <td>
                <div>
                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Company)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Company.UserName)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Category)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Category.CategoryName)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Vendor)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Vendor.VendorName)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.CarDesc)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.CarDesc)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.PlateNo)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.PlateNo)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.ProdYear)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.ProdYear)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Color)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Color)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.SeatNo)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.SeatNo)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.DoorNo)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.DoorNo)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.IsCondishended)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.IsCondishended)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.GearType)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.GearType)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Price)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Price) $/Day
                        </dd>
                    </dl>
                </div>
            </td>
        </tr>
    </table>
</div>
<div>
    <a class="btn btn-primary px-3" asp-action="Create" asp-controller="CarBookings" asp-route-id="@Model.CarId">Reserve</a>
    <a asp-action="Index">Back to List</a>
</div>
